* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    display: flex;
    justify-content: center;
}

#main {
    width: 100%;
    padding: 15px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 1ch;
    font-size: 30px;
    font-family: Gilroy, Tahoma, sans-serif;
}

p {
    margin-bottom: 1ch;
    font-size: 20px;
    font-family: Gilroy, Tahoma, sans-serif;
}

img[id="Emblem"] {
    width: 100px;
}

.inputstyle {
    margin-top: 2ch;
    border: 2px solid #4000ff;        
    border-radius: 8px;            
    padding: 12px 16px;
    font-size: 16px;
    width: 100%;
    max-width: 305px;
    outline: none;
}

.inputstyle::placeholder {
    color: rgb(157, 157, 255);
}

button[id="sendButton"] {
    margin-top: 3cap;
    margin-bottom: 2cap;
    color: white;
    background-color: #4000ff;
    border: 2px solid #4000ff;
    border-radius: 8px;            
    padding: 12px 14px;
    font-size: 16px;
    width: 100%;
    max-width: 200px;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    transform: scale(1.03);
}

button:active {
    border: rgb(0, 0, 210);
    background-color: rgb(0, 0, 210);
    color: gray;
    transform: scale(0.98);
}

input[type='radio'] { /* Стили радиокнопок */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

input[type='radio']:checked {
    border: 6px solid lightblue;
}

.choose {
    margin-top: 2ch;
    border: 2px solid #4000ff;        
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 16px;
    width: 90%;
    max-width: 300px;
    outline: none;
    display: inline-flex;
    flex-direction: column;
    gap: 2ch;
}

label[id="contrname"] {
    padding-top: 0.5ch;
    color: rgb(157, 157, 255);
    position: relative;
    font-size: medium;
    font-family: Arial;
    width: 30ch;
}

.textLabel {
    color: rgb(157, 157, 255);
}

.radios {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 6px;
    margin-left: 5%;
    font-size: 0.4cm;
}

.radText {
    position: relative;
    bottom: 0vi;
    text-align: center;
}

.checkbuttons {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5ch;
    padding-bottom: 1ch;
}

.secondinp {
    position: relative;
    bottom: 2.6ch;
    right: inherit;
    left: 1ch;
    height: 3ch;
    width: 15ch;
}

.tarea {
    height: 7ch;
}